examples/**/data
examples/**/exp
examples/**/tensorboard
result*/

dockerfile
pretrained_models

oss_sever.py

**/.ipynb_checkpoints
**/__pycache__
.DS_Store

prepare_data_augment
prepare_data_sever/generate*
prepare_data_sever/prepare_speech_token_offline.py

requirements_llmchat.txt
output.txt
output.wav